<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Remove the WebDAV module if it's interfering -->
		<modules>
			<remove name="WebDAVModule" />
		</modules>

		<!-- Configure handlers -->
		<handlers>
			<remove name="WebDAV" />
			<add name="aspNetCore" path="*" verb="*"
				 modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- ASP.NET Core hosting settings -->
		<aspNetCore processPath="dotnet"
					arguments=".\MRC.dll"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess" />
	</system.webServer>
</configuration>
