<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Disable WebDAV if not used to avoid conflicts -->
		<modules>
			<remove name="WebDAVModule" />
		</modules>

		<!-- Configure handlers for ASP.NET Core -->
		<handlers>
			<remove name="WebDAV" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- ASP.NET Core hosting configuration -->
		<aspNetCore
		  processPath="dotnet"
		  arguments="MRC.dll"
		  stdoutLogEnabled="true"
		  stdoutLogFile=".\logs\stdout"
		  hostingModel="InProcess">
		</aspNetCore>
	</system.webServer>
</configuration>